.layout {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  place-items: center;
}

.container {
  min-height: 100vh;
  min-width: 90%;
  max-width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
